{{define "welcome_dm" -}}
## Welcome to CA Global! 👋
To help everyone recognize you, please set your server nickname. It uses the format `TrainerName Flag Community`, for example `Ash 🇩🇪 Kanto CA`.

Tap the button below to set it now, a short form will pop up where you can enter your trainer name, country flag, and community. You can change it any time with the `/set-nickname` command in the server.
{{- end}}

{{define "nickname_panel" -}}
## Set your nickname
Use the button below to set your server nickname in the format:
`TrainerName Flag Community`
{{- end}}

{{define "html_not_eligible" -}}
You don't appear to be a Community Ambassador. If you believe this is an error, please get in touch.
{{- end}}

{{define "html_reauth" -}}
Your CA Global verification has been renewed. You can close this page.
{{- end}}

{{define "html_joined" -}}
Welcome to CA Global. You have been added to the server with your region role(s). You can close this page.
{{- end}}
